h1 {
    color: black;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 20px;
    color: black;
    background-color: red;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.1ms;
}

.button:hover {
    background-color: black;
    color: white;
}

div {
    display: flex;
    justify-content: center;
}